@media (min-width: 1200px){
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1420px !important;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: black;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.create-card {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.form-card {
  max-width: 100%;
  width: 100%;
  margin-top: 6%;
}

.view-pool-card {
  max-width: 100%;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4% !important;
}

.text-header {
  margin-top: 7px;
  font-weight: bold;
}

.view-pool-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.view-pool-footer {
  font-weight: bold;
  text-align: center;
  background-color: #FFFFFF50;
}

.card-deck {
  padding-left: 2% !important;
  padding-right: 2% !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.card-header {
  font-weight: bold;
  font-size: large;
  min-width: 100%;
  max-width: 100%;
}

.hidden-card {
  opacity: 0;
}

.display-pool-card {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.display-pool-card:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 10px rgba(212, 108, 10, 0.562);
}

.card {
  border-radius: 30px !important;
}

.card-header {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}

.card-footer {
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

.info-message {
  margin-top: 30px;
  color: green;
  font-weight: bold;
  text-align: center;
}

.alert-message {
  margin-top: 20px;
  margin-bottom: 40px;
  color: orangered;
  font-weight: bold;
}

.warning-message {
  color: orange;
  font-weight: bold;
}

.g-pt-90 {
  padding-top: 17rem !important;
  color: rgb(10, 131, 103)
}

.auction-alert-message {
  color: orangered;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  font-size: large;
}

.auction-info-message {
  color: green;
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  margin-top: 2%;
}


.top-navbar-container{
  height: 56px;
}

.top-navbar{
  background-color: #212529 !important;
}


.bnb-price{
  margin-top: 4rem ;

}

.flow-block{
  position: relative;
  height: 260px;
}

.bg-flow-block{
  position: absolute;
  background: inherit;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px) brightness(90%);
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 0.25rem !important;
}

.img-bg-flow-block{
  position: absolute;
  width: 100%;
  height: 100% !important;
  top: 0;
  left: 0;
}

.left-bg-flow-block {
  border-bottom: 260px solid #21252980;
  border-left: 160px solid transparent;
  height: 0;
  width: 82%;
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 2;

}

.content-block{
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0px 2rem;
}

.flow-main-image{
  width: 200px;
  height: 200px;
}
.cover-block{
  position: relative;
}

.cover-block-btn{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 40%);
  width: 50px;
  height: 50px;
  border: none;
  background: rgb(0 0 0 / 60%);
  border-radius: 50%;
  color: white;
  font-size: 30px;
  line-height: 30px;
}

.flow-body-text{
  font-size: 40px;
  color: #ffffff98;
}

.flow-caption{
  font-size: 14px;
  color: #ffffff98;

}

.flow-title-block{
  padding: 0;
  padding-right: 15px;
  margin-bottom: 0px;
}

.display-6{
  font-size: 2rem;
  line-height: 1.2;
}

.tab-title{
  color: #ffffff99;
  margin-right: 2rem;
  padding-bottom: 8px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.tab-title:hover{
  color: white;
}

.tab-title-active{
  color: white;
  border-image-slice: 1;
  border-bottom: 5px solid;
  border-image-source: linear-gradient(-100deg, #ff0079, #2dceef);
}